h1,
h2 {
  color: #333;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.contents {
}
.inputArea {
  position: relative;
}
.inputArea img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}
.aquarium {
  position: relative;
  border: 2px solid;
  border-radius: 20px;
  margin-top: 20px;
  top: 20%;
  left: 5%;
  height: 900px;
  width: 90%;

  background: linear-gradient(
      to bottom,
      rgba(10, 20, 60, 0.9),
      rgba(0, 128, 255, 0.5),
      rgba(0, 64, 128, 0.4)
    ),
    url("assets/aquarium.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.fish {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation: slide 10s infinite;
}

@keyframes slide{
  0% {transform: translate(0,0);}
  12.5%{transform: translate(60px,100px);}
  25%{transform: translate(50px,50px);}
  50% {transform: translate(-100px,900px);}
  75%{transform: translate(50px,-75px);}
  100% {transform: translate(0,0);}
} 

.last{
  background-color: rgba(255, 255, 255, 0.432);

}
